name: Auto-Merge & Branch Cleanup

on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]
  check_run:
    types: [completed]

jobs:
  automerge:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'gamestime102' || github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Auto-merge PR
        uses: "pascalgn/automerge-action@v0.16.2"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_METHOD: "squash" 
          MERGE_DELETE_BRANCH: "true" 
