name: Build Clean Master Privacy

on:
  push:
    branches: [ "main" ]

jobs:
  release:
    name: Build & Release Binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Optimized Release
        run: cargo build --release

      - name: Create Artifact
        uses: actions/upload-artifact@v3
        with:
          name: clean-master-privacy-linux
          path: target/release/clean-master-privacy
