name: Build & Release Clean Master Privacy

on:
  push:
    tags:
      - 'v*' 
jobs:
  release:
    name: Build and Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

     
      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build Optimized Binary
        run: cargo build --release

      - name: Build .deb Package
        run: cargo deb

     
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/release/clean-master-privacy
            target/debian/*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
