name: CI & CD Release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            pkg-config \
            build-essential \
            libgtk-4-dev \
            libadwaita-1-dev \
            libglib2.0-dev \
            libgio2.0-cil-dev \
            libgirepository1.0-dev

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Optimized Binary
        run: |
          # PKG_CONFIG yollarını Runner'a zorla öğretiyoruz
          export PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig:/usr/share/pkgconfig
          cargo build --release --verbose

      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: Clean-Master-Privacy-Binary
          path: target/release/clean-master-privacy
